body {
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

.body-bg-alpha {
    background-color: rgba(255, 255, 255, 0.7);
}

.body-index-bg-alpha {
    background-color: rgba(255, 250, 240, 0.7);
}
