body {
    background-image: url('../background.jpg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

.body-bg-alpha {
    background-color: rgba(255, 255, 255, 0.7);
}

.body-about-bg-alpha {
    background-color: rgba(255, 255, 255, 0.8);
}

.body-index-bg-alpha {
    background-color: rgba(255, 250, 240, 0.7);
}

.welcome-heading {
    font-family: 'Cormorant', serif;
}

.article-heading {
    position: relative;
    padding-top: 40px;
    padding-left: 15px;
}

    .article-heading::before {
        content: attr(data-en);
        position: absolute;
        transform: rotate(-2deg);
        top: 0;
        left: 0;
        color: rgb(255, 220, 200);
        z-index: -1;
        font-size: 100px;
        font-weight: 500;
        font-family: 'Miss Fajardose', cursive;
    }

.head-underline {
    position: relative;
    padding: 1.5rem;
}

    .head-underline:before {
        position: absolute;
        bottom: -10px;
        left: calc(50% - 60px);
        width: 120px;
        height: 3px;
        content: '';
        border-radius: 3px;
        background: #55402b;
    }

.head-left-line {
    padding: 1rem 2rem;
    border-left: 4px solid #55402b;
}
