@inherits LayoutComponentBase

<main>
    <RadzenCard Class="mb-5 navbar fixed-top container-fluid">
        <RadzenLink Path="/" Text="Typerary" class="navbar-brand rz-ripple rz-color-danger-darker" style="text-decoration: none" />
        <RadzenMenu class="mr-auto">
            <RadzenMenuItem Text="About" Path="/about" Icon="info"></RadzenMenuItem>
            <RadzenMenuItem Text="Release" Path="/release" Icon="update"></RadzenMenuItem>
            <RadzenMenuItem Text="Works" Path="/works" Icon="book"></RadzenMenuItem>
        </RadzenMenu>
    </RadzenCard>

    @Body

</main>
