@inherits LayoutComponentBase

<main>
    <RadzenCard Class="mb-5 navbar mr-auto fixed-top container-fluid">
        <NavLink href="/" class="navbar-brand rz-ripple rz-color-danger-darker" style="text-decoration: none">Typerary</NavLink>
        <RadzenMenu class="mr-auto">
            <RadzenMenuItem Text="Works" Path="/works" Icon="book"></RadzenMenuItem>
            <RadzenMenuItem Text="Release" Path="/release" Icon="info"></RadzenMenuItem>
        </RadzenMenu>
    </RadzenCard>

    @Body

</main>
