#if DEBUG
@page "/typerary/practice/{BookId}"
#else
@page "/practice/{BookId}"
#endif
@inject HttpClient Http

<PageTitle>Typerary - Practice</PageTitle>

<Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.5)">
    <article class="content p-4 m-4 body-bg-alpha rz-shadow-8 rz-border-radius-3">
        @if (!_isLoadComplete)
        {
            <div class="loader">Loading...</div>
        }
        else
        {
            <RadzenText TextStyle="TextStyle.DisplayH4" TagName="TagName.H3" class="mb-5 article-heading" data-en="Practice">@(_bookTitle)</RadzenText>
            <Animate Animation="Animations.FadeUp" Duration="TimeSpan.FromSeconds(0.75)">
                <RadzenTabs @bind-SelectedIndex=@_tabIndex Change=@OnChange>
                    <Tabs>
                        <RadzenTabsItem Text="Practice">
                            <PracticeUserInput />
                        </RadzenTabsItem>

                        <!--
                            TODO: 設定画面を作る
                        <RadzenTabsItem Text="Config">
                            <PracticeConfig />
                        </RadzenTabsItem>
                        -->

                        <RadzenTabsItem Text="Result(Summary)">
                            <PracticeResultSummary CurrentResult=@_controller?.CurrentPracticeResult />
                        </RadzenTabsItem>

                        <!---
                            TODO; リザルト詳細を作る
                        <RadzenTabsItem Text="Result(Detail)">
                            <PracticeResultDetail />
                        </RadzenTabsItem>
                        -->
                    </Tabs>
                </RadzenTabs>
            </Animate>
        }
    </article>
</Animate>

@code {
    private bool _isLoadComplete;
    private string? _bookTitle = string.Empty;
    private int _tabIndex;
    private string _sanitizedBookId = string.Empty;
    private static PracticeController? _controller;

    [Parameter]
    public string BookId { get; set; } = string.Empty;

    public static PracticeController? Controller => _controller;

    protected override async Task OnInitializedAsync()
    {
        _tabIndex = 0;
        _sanitizedBookId = GetSanitizedBookId(BookId);
        try
        {
#if DEBUG
            var book = await Http.GetFromJsonAsync<Book?>($"/jsonData/works/{_sanitizedBookId}.json");
#else
            var book = await Http.GetFromJsonAsync<Book?>($"/typerary/jsonData/works/{_sanitizedBookId}.json");
#endif
            if (book is null) throw new InvalidDataException("Exception: json data load failed");
            _bookTitle = book.Title;
            _controller = new PracticeController();
            _controller.Initialize(book);
            _isLoadComplete = true;
        }
        catch (HttpRequestException ex)
        {
            await Console.Error.WriteLineAsync($"Exception: HttpRequestException \n{ex.Message}");
        }
        catch (TaskCanceledException ex)
        {
            await Console.Error.WriteLineAsync($"Exception: TaskCanceledException \n{ex.Message}");
        }
        catch (Exception ex)
        {
            await Console.Error.WriteLineAsync($"Unhandled Exception \n{ex.Message}");
        }
        finally
        {
            await Task.CompletedTask;
        }
    }

    private string GetSanitizedBookId(string originalBookId)
    {
        var sanitizer = new HtmlSanitizer();
        var sanitizedId = sanitizer.Sanitize(originalBookId);
        return sanitizedId;
    }

    private void OnChange(int index) { }
}
